/*base class*/
.clear{
	clear: both;
}

/*header*/
.header-wraper{
	margin-top: 20.5px;
	margin-left: 98px;
}
.header-wraper .logo{
	float: left;
}
.header-wraper .navigation{
	float: right;
	margin-top: 15px;
}
.nav-ul{
	content: "";
	clear: both;
	display: block;
	margin-right: 200px;
}
.nav-li{
	vertical-align: middle;
	float: left;
	font-family: 'Roboto', sans-serif;
	color: #3D58A6;
	font-size: 24px;
}
.home{
	margin-left: 103px;
  	margin-right:31px;

}
.news{
	margin-right: 35px;

}
.about{
	margin-right: 23.5px;
}
.contact{
	margin-right: 560px;
}
/*/end header/*/
/*/section1/*/
.section1{
	margin-top: 20px;
	width: 1366px;
	height: 520px;
	background:#E6E6E6;
}
.img{
	margin: 30px 98px;
}
/*end*/
/*section2*/
.section2{
	width: 1366px;
	height: 500px;
	background: #363E97
}
.h3_section2{
	font-family: 'Roboto', sans-serif;
	padding-top: 30px;
	padding-bottom: 27.8px;
	padding-left: 99.5px;
}
.box1{
	margin-left: 98px;
	margin-bottom: 89.5px;
	float: left;
	width: 570px;
	height: 320px;
	background: #F2F2F2;
}
.box2{
	margin-right: 98px;
	margin-bottom: 89.5px;
	float: right;
	width: 570px;
	height: 320px;
	background: #F2F2F2;
}